.page {
  font-family: var(--font-family-variations), sans-serif;
  font-weight: var(--wgth-main);
  background-color: var(--background-color);
  color: var(--color);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: repeating-linear-gradient(to right, var(--linear-gradient-color) 0px 2px, transparent 2px 4px), repeating-linear-gradient(var(--linear-gradient-color) 0px 2px, transparent 2px 4px), linear-gradient(var(--linear-gradient-top-bootom), var(--linear-gradient-bottom));
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  justify-items: center;
  padding-block: 101px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 2px solid var(--color, #000);
  background: var(--background-color, #FFF);
  inline-size: clamp(375px, 16.138rem + 30.402vw, 696px);
  margin-block-end: 100px;
  padding-block-end: 20px;
  padding-block-start: clamp(120px, 7.153rem + 1.497vw, 136px);
}

.header__link {
  color: var(--color, #000);
  font-family: var(--font-family);
  font-size: clamp(3.063rem, 1.921rem + 4.923vw, 4.063rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}

.header__title {
  color: var(--color, #000);
  font-family: var(--font-family);
  font-size: clamp(0.875rem, 0.233rem + 2.769vw, 1.438rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.theme-menu__list {
  padding-block-start: 5px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.theme-menu__item {
  padding-inline-start: 10px;
}

.theme-menu__button {
  position: relative;
  background-color: var(--background-color);
  border: none;
  color: var(--color, #000);
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.theme-menu__button:disabled:before {
  content: "▶";
  position: absolute;
  left: -20px;
  animation: arrow 0.5s infinite alternate ease-in-out;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  margin-top: 2px;
  transform: scale(0);
  background-color: var(--color, #000);
  transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  transform: scale(1);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 52px;
  inline-size: clamp(375px, 16.138rem + 30.402vw, 696px);
  margin-block-end: 54px;
}

.card {
  background-color: var(--background-color);
  border: 2px solid var(--color, #000);
}

.main__title {
  color: var(--color, #000);
  font-family: var(--font-family-variations);
  font-size: 18px;
  font-style: normal;
  font-weight: var(--wgth-title);
  line-height: normal;
  padding-inline-start: 10px;
  padding-inline-end: 24px;
  margin-block: 4.5px;
}

.main__picture {
  position: relative;
  border-top: 2px solid var(--color, #000);
  border-bottom: 2px solid var(--color, #000);
}

.main__img {
  display: block;
  width: 100%;
  object-fit: cover;
  block-size: clamp(23.188rem, 16.035rem + 30.516vw, 43.5rem);
}

.main__label {
  position: absolute;
  inset-inline-end: clamp(0.688rem, -0.335rem + 4.361vw, 1.563rem);
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  color: var(--color, #000);
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  z-index: 2;
  text-transform: uppercase;
  text-shadow: 1px 0px 0px var(--shadow-color, #FFF),
    -1px 0px 0px var(--shadow-color, #fff),
    0px 1px 0px var(--shadow-color, #fff),
    0px -1px 0px var(--shadow-color, #fff);
}

@supports (text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff) {
  .main__label {
    -webkit-text-stroke: 1px var(--shadow-color, #fff);
    text-stroke: 1px var(--shadow-color, #fff);
    text-shadow: none;
  }
}

.main__text {
  color: var(--color, #000);
  font-family: var(--font-family-variations);
  font-size: 18px;
  font-style: normal;
  font-weight: var(--wgth-main);
  line-height: 21px;
  padding-inline-start: 25px;
  padding-inline-end: clamp(1.747rem, 1.812rem + -0.277vw, 1.563rem);
  margin-block-start: 25px;
  margin-block-end: 27px;
}

.main__button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  margin-inline-end: 25px;
  margin-block-end: 25px;
}

.card__icon-button {
  background-color: var(--background-color);
  border: none;
  block-size: 36px;
  cursor: pointer;
  padding: 0;
  outline: 2px solid transparent;
  outline-offset: -2px;
  transition: outline 0.3s ease;
}

.sparks {
  opacity: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--color);
}

.card__like-button {
  min-width: 130px;
  padding-block: 9px;
}

.button-animation {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  border: 2px solid var(--color, #000);
}

.button-animation::before {
  content: ' ';
  inset: 0;
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color, #000);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button-animation:hover::before {
  content: ' ';
  transform: translateX(0);
}

.button-animation:focus {
  outline: none;
}

.button-animation:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--color, #000);
}

.button__text {
  color: var(--color-button, #fff);
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  position: relative;
  mix-blend-mode: difference;
}

.footer {
  background-color: var(--background-color, #000);
  border: 2px solid var(--color, #000);
}

.footer__button {
  inline-size: clamp(306px, 18.496rem + 2.713vw, 335px);
  padding-block: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  gap: 8px;
}

.floppy {
  width: 21px;
  height: 21px;
  mix-blend-mode: difference;
}

@media (width <=375px) {
  .floppy {
    width: 28px;
    height: 28px;
  }
}

.modal {
  background-color: var(--background-color);
  border: 2px solid var(--color);
  padding-block: 32px;
  padding-inline: 32.5px;
}

.modal__window {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.modal__content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.modal__floppy {
  flex-shrink: 0;
  mix-blend-mode: difference;
}

.modal__text {
  color: var(--color);
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
  inline-size: clamp(12.375rem, 11.583rem + 3.38vw, 14.625rem);
}

.modal__button {
  padding: 9px 17px;
  inline-size: 100%;
}

.modal::backdrop {
  background-color: #000;
  opacity: 0.75;
}

@media (width <=375px) {
  .modal {
    padding-inline: 42px;
  }
}

.filter-grayscale {
  filter: grayscale(80%);
}

.filter-max {
  filter: hue-rotate(0.5turn) opacity(80%);
}

.filter-contrast {
  filter: contrast(300%);
}

.filter-saturate {
  filter: saturate(300%);
}

.filter-sepia {
  filter: sepia(0.6);
}

.filter-blur {
  filter: blur(3px);
}

.filter-invert {
  filter: invert(80%);
}